:root{
    --black:#2d303a;
    --light-black:#323645;
    --lighter-black:#323746;
    --gray:#767e9e;
    --light-gray: #666d89;
    --dark-gray:#494e62;
    --red:#e36861;
    --light-red:#f06c64;
    --carrot-red:#ea676b;
    --dark-red:#d6564f;
    --pink:#f48c8f;
    --white:#fff;
    --dark-white:#f2f2f2;
    --gray-white:#f0d8d9;
}

*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato', sans-serif;
}

.container{
    max-width: 1020px;
    margin: 0 auto;
}
                                                        /* header */
.main-header{
    background-color: var(--black);
    border-bottom: 6px solid var(--lighter-black);
}

.main-header > .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    min-height: 89px;
}

.main-header a{
    color: var(--white);
    font-weight: bold;
    text-transform: uppercase;
}

.logo{
    font-size: 25px;
    margin-left: 40px;
}

.logo spun{
    color: var(--red);
}

.main-nav{
    font-size: 12px;
}

a.active{
    color: var(--red);
}

.main-header a{
    text-decoration: none;
}

.main-header li{
    display: inline-block;
    list-style: none;
}

.main-header ul{
    margin-top: 12px;
}

.nav-element{
    margin-left: 13px;
    transition: color linear .3s;
    transition: font-size linear .3s;
}

.nav-element:hover{
    color: var(--red);
    font-size: 14px;
}

.main-header ul:first-child{
    margin-left: 82px;
}

.nav-point::after {
    color: var(--dark-gray);
    font-size: 2em;
    content: "·";
    vertical-align: sub;
    margin-left: 8px;
}



                                                /* section main-slider*/

.main-slider{
    min-height: 600px;
    background-color: var(--light-red);
    border-bottom: 6px solid var(--red);
}

.main-slider > .container{
    padding-top: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-arrow, .right-arrow {
    padding: 38px;
}

.left-arrow{
    margin-left: 5px;
}

.vertical-iphone{
    margin-right: 50px;
}

.horizontal-iphone,
.vertical-iphone{
    pointer-events: none;
}

.right-arrow:hover{
    background-color: var(--red);
    cursor: pointer;
}

.left-arrow:hover{
    background-color: var(--red);
    cursor: pointer
}

.right-arrow,
.left-arrow{
    transition: background-color linear .3s;
}
                                                /* section main-content */
.main-content{
    background-color: var(--dark-white);
    min-height: 500px;
}
.icon-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 35px;
    padding: 40px;
}

.services-icon{
    float: left;
}

.main-article{
    padding: 60px 40px 0 40px;
}

.main-article h2{
    font-size: 30px;
    font-weight: bold;
    color: var(--gray);
    margin-bottom: 15px;
}

.main-article p{
        font-size: 18px;
        color: var(--gray);
        line-height: 1.8em;
}

.icon-list img{
    margin-right: 20px;
    margin-bottom: 20px;
}



.icon-list h4{
    font-size: 18px;
    font-weight: 700;
    color: var(--gray);
    margin-bottom: 10px;    
}

.icon-list p{
    font-size: 12px;
    color: var(--gray);
    line-height: 1.5em;
}

                        /*SINGOLO 2*/

                                       /* portfolio */
.portfolio{
    background-color: var(--black);
    min-height: 870px;
    border-bottom: 6px solid var(--lighter-black);
    background-color: var(--black);
}

.portfolio h1{
    font-size: 30px;
    color: var(--gray);
    font-weight: 900;
    padding: 62px 0 20px 40px;
}

.portfolio p{
    font-size: 18px;
    color: var(--gray);
    font-weight: 300;   
    padding: 0 40px;
    letter-spacing: -.3px;
}

.portfolio ul{
    padding: 15px 40px 23px;
}

.portfolio li{
    list-style: none;
    display: inline-block;
}

.nav_inner{
    margin-left: 9px;
}

.portfolio a{
    text-decoration: none;
    color: var(--gray);     
    border: solid 1px var(--gray); 
    border-radius: 3px;
    font-size: 12px;
    padding: 2px 5px;
    transition: color linear .3s;
}

.portfolio a:hover{
    color: var(--white);
    border: solid 1px var(--white);
}

                                            /* img_section */

.main_nav a.active{
    color: var(--white);
    border: solid 1px var(--white);
}

.img_section{
    display: grid;
    grid-template-columns: repeat(4, 220px);
    grid-template-rows: repeat(3, 189px);
    grid-gap: 18px 20px;
    justify-content: center;
}

.main_img{
    cursor: pointer;
    transition: opacity linear .3s;
}

.main_img:hover{
    opacity: .6;
}


                                                /* about_us */

.about_us{
    background-color: var(--dark-white);
    border-bottom: 6px solid var(--pure-white);
    min-height: 733px;
}

.about_us h2{
    font-size: 30px;
    color: var(--gray);
    font-weight: 900;
    padding: 60px 0 15px 40px;
}   

.about_us > .container > p{
    font-size: 18px;
    color: var(--gray);
    font-weight: 300;   
    padding: 0 40px;
    line-height: 1.7em;
    
}

.about_us > .container > p > span{
    letter-spacing: .15px;
}

.staff{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
    margin: 44px 40px;
}

.staff h3{
    padding: 8px 0;
    font-weight: 900;
    font-size: 18px;
    color: var(--darck-gray);
}

.staff p{
    font-size: 12px;
    line-height: 22px;
    color:var(--gray);
}

.social_networks{
    margin-top: 22px;
}

.social_img{
    margin-left: 3px;
}

.social:hover{
    cursor: pointer;
    opacity: 0.6;
}

.social{
    transition: opacity linear .3s;
}

                /* SINGOLO 3 */

.get_quote{
    background-color: var(--light-red);
    color: var(--gray-white);
    min-height: 654px;
    border-bottom: 6px solid var(--carrot-red);
}

.get_quote h2{
    font-size: 30px;
    font-weight: 700;
    padding: 62px 40px 19px;
    letter-spacing: -.8px;
}

.get_quote .container > p{
    font-size: 18px;
    padding: 0 40px;
    letter-spacing: -.3px;
    line-height: 1.7em;
}

.get_quote_contact{
    display: grid;
    grid-template-columns: 620px 300px;
    grid-column-gap: 20px;
    padding: 40px 40px 0;
}

.get_quote_form input{
    margin-bottom: 17px;
    font-size: 12px;
    color: var(--pink);
    padding: 12px;
    border-radius: 5px;
    background-color: var(--dark-red);
    border: 0;
}

.get_quote_form input[type-text]{
    color: var(--gray-white);
}

.get_quote_form textarea{
    font-size: 12px;
    padding: 12px;   
    letter-spacing: -1.5px; 
    color: var(--pink);
    border-radius: 5px;
    min-height: 200px;
    background-color: var(--dark-red);
    border: 0;
}
.get_quote_form{
    display: grid;
    grid-template-columns: 1;
}

.contact_inf li{
    list-style: none;
}

.contact_inf h3{
    font-size: 18px;
    padding-bottom: 5px;
}

.contact_inf p{
    font-size: 12px;
    line-height: 1.8em;
    letter-spacing: -.2px;
    margin-bottom: 25px;
}

.contact_inf li{
    font-size: 12px;
    margin: 8px 0;
}

.contact_inf li img{
    margin-right: 10px;
}

.get_quote_footer .container{
    display: flex;
    justify-content: space-between;
}

.get_quote_footer .container p{
    font-size: 12px;
    padding: 32px 42px 0 42px;
    color: var(--light-gray);
}

.social_networks_footer{
    margin: 20px 40px 0 0;
}

.get_quote_footer{
    min-height: 76px;
    background-color: var(--black);
}

.submit_rezet{
    display: flex;
    justify-content: center;
}

.submit_rezet input{
    margin: 12px;
    color: var(--white);
    transition: color linear .2s;
    transition: background-color linear .2s;
}

.submit_rezet input:hover{
    background-color: var(--gray-white);
    color: var(--black);
    cursor: pointer;
}